/* @media only screen and (max-width: 800px) {
    body {
      background-color: gainsboro;
    }
  } */

  @media only screen and (max-width: 400px) {
    #welcome-section {
      float: none;
      width: 100%;
      background-color: grey;
    }
  }

  #welcome-section{
    height: 1.0vh;
  }
  