  #welcome-section{
    height: 100vh;
  }

  #navbar {
    position: fixed;
    top: 0;
    margin-left: auto;
  }

  .project-tile {
    background-color: lightgreen;
  }
}

/*@media (max-width: 350px) {
  .project-tile {
	  font-size: 10px;
    background-color: lightblue;
  } */

@media screen and (max-width: 800px) {
    .project-tile {
      float: none;
      width: 100%;
      background-color: lightblue;
    }
  }

/*  @media only screen and (max-width: 800px) {
      body {
        background-color: gainsboro;
      }
    }
*/
